@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
.btn {
  background-color: #19A8B8;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Benton Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
.btn:hover,
.btn:focus {
  background-color: #148693;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover,
.btn:disabled:hover {
  background-color: #19A8B8;
}

.btn-w {
  color: #19A8B8;
  background: rgba(255, 255, 255, 0.8);
}

.btn-w:hover, .btn-w:focus {
  color: #19A8B8;
  background: #FFFFFF;
}

.btn-border {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #19A8B8;
  border: 2px solid #19A8B8;
  background: transparent;
}

.btn-border:hover, .btn-border:focus {
  color: #fff;
  border-color: transparent;
  background: #19A8B8;
}

.btn-border-w {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.75);
  background: transparent;
}

.btn-border-w:hover, .btn-border-w:focus {
  color: #111;
  border-color: transparent;
  background: #fff;
}

.btn-circle {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.btn-icon {
  position: relative;
  border: none;
  overflow: hidden;
}

.btn-icon:hover > span {
  opacity: 0;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.btn-icon.btn-small {
  overflow: hidden;
}

.btn-icon > span {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  left: 0;
  color: #777;
  font-size: 48px;
  opacity: .2;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-icon > span.white {
  color: #fff;
}

.btn-icon > span.black {
  color: #000;
}

.btn-small {
  height: auto;
  padding: 6px 17px;
  font-size: 11px;
}

.btn-large {
  height: auto;
  padding-left: 45px;
  padding-right: 45px;
}

.btn-full {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.buttons-section-title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 70px;
  color: #fff;
}

.btn-mod,
a.btn-mod {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
  border: 2px solid transparent;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  background: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-mod:active {
  cursor: pointer !important;
  outline: none !important;
}

.col-md-3 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 23.2317609825%;
}

.col-md-3:last-child {
  margin-right: 0;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "Benton Sans", Arial, sans-serif;
  font-size: 1em;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  border-color: #bababa;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
  border-color: #19A8B8;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(22, 148, 162, 0.7);
  outline: none;
}

input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
  border: 1px solid #E8E8E8;
}

input[type="color"]::placeholder, input[type="date"]::placeholder, input[type="datetime"]::placeholder, input[type="datetime-local"]::placeholder, input[type="email"]::placeholder, input[type="month"]::placeholder, input[type="number"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, input[type="tel"]::placeholder, input[type="text"]::placeholder, input[type="time"]::placeholder, input[type="url"]::placeholder, input[type="week"]::placeholder, input:not([type])::placeholder, textarea::placeholder {
  color: #929292;
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

/* ==============================
	Article - Content Block
	============================== */
.article {
  display: table;
  width: 100%;
  padding: 40px 0;
}

.article .article_image,
.article .article_content {
  display: table-cell;
  vertical-align: middle;
}

.article .article_image {
  padding-right: 1.618em;
}

.article .article_image img {
  height: 219px;
  max-width: none;
}

.article .article_content {
  width: 100%;
}

/* ==============================
	Article Full Width - Content Block
	============================== */
.article-vert {
  display: table;
  width: 100%;
}

.article-vert .article-vert_image,
.article-vert .article-vert_content {
  display: table-cell;
  vertical-align: top;
}

.article-vert .article-vert_image {
  padding-right: 1.4em;
}

.article-vert .article-vert_image > img {
  display: block;
  max-width: none;
  height: 100%;
  width: auto;
}

.article-vert .article-vert_content {
  width: 100%;
  padding-left: 1.4em;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #aeaeae;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #E8E8E8;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

body {
  color: #4A4A4A;
  font-family: "Benton Sans", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Benton Sans", Arial, sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #19A8B8;
  text-decoration: none;
  transition: color 150ms ease;
}

a:active, a:focus, a:hover {
  color: #137e8a;
}

hr {
  border-bottom: 1px solid #E8E8E8;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.text-block-sm_sponsor, .text-block-sm, .text-block-group,
.section-padding {
  padding: 35px 28px;
}

.bg-gray {
  background-color: #E8E8E8;
}

.headline-margin {
  font-size: 22px;
  font-weight: 500;
}

.headline-main {
  font-size: 22px;
  font-weight: 500;
}

.text-block-sm_headline {
  color: #007A87;
  font-weight: 700;
  margin-bottom: 18px;
}

/* ==============================
  16px
  ============================== */
.headline-standard {
  color: #007A87;
  font-size: 16px;
  font-weight: 500;
}

.headline-standard.upper-case {
  color: #4A4A4A;
  text-transform: uppercase;
}

/* ==============================
  15px
  ============================== */
.text-block-sm_body {
  font-size: 15px;
  line-height: 25px;
}

/* ==============================
  14px
  ============================== */
.text-author,
.text-block-sm_author {
  color: #888888;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 18px;
}

/* ==============================
  13px
  ============================== */
.job-title,
.job-location {
  font-size: 13px;
  color: #888888;
}

.job-title {
  font-weight: 500;
}

.job-location {
  font-weight: 400;
}

/* ==============================
  12px
  ============================== */
.text-block-sm_desc {
  color: #BBBBBB;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 18px;
}

.text-block-sm_sponsor {
  background: #E8E8E8;
}

.text-block-sm_sponsor .text-block-sm_desc {
  color: #888888;
}

.text-block-sm_sponsor .text-block-sm_headline,
.text-block-sm_sponsor .text-block-sm_author {
  font-weight: 400;
}

.job-item, .headline-standard.upper-case {
  padding: 25px 20px;
  border-bottom: 1px solid #E8E8E8;
}

.job-source-feed {
  max-width: 390px;
  border: 1px solid #E8E8E8;
}

.job-footer {
  border: transparent;
  height: 60px;
  line-height: 60px;
  width: 100%;
}

.job-footer .link {
  float: left;
  margin-left: 1em;
  display: inline;
  font-size: 14px;
}

.job-footer .arrow-nav {
  float: right;
  margin-top: 0;
}

.job-footer .arrow-nav a {
  background-color: #19A8B8;
  border: transparent;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 30px;
  margin: 0 0 0 1px;
  padding: 0 20px;
  transition: background-color 150ms ease;
  user-select: none;
  -webkit-appearance: button;
  -webkit-font-smoothing: antialiased;
}

.job-footer .arrow-nav a:hover, .job-footer .arrow-nav a:focus {
  background: #148693;
  color: #fff;
  cursor: pointer;
}

.related-content-list {
  padding: 25px 20px;
}

.related-content-list > li {
  margin-bottom: 25px;
}

.text-block-sm {
  border: 1px solid #E8E8E8;
}

.text-block-sm_sponsor {
  background: #EAEEEF;
}

.text-block-sm_sponsor .text-block-sm_desc {
  color: #888888;
}

.text-block-sm_sponsor .text-block-sm_headline {
  font-weight: 400;
}

.text-block-sm_sponsor .text-block-sm_author {
  font-weight: 400;
}

.text-block-group-pseduo > div:nth-child(2),
.text-block-group-pseduo > div:nth-child(3) {
  border-left: 1px dashed #DDDDDD;
}

.side-image {
  background: #007A87;
  color: #FFFFFF;
}

@media screen and (min-width: 900px) {
  .side-image {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.side-image .btn {
  background-color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  color: #007A87;
  cursor: pointer;
  display: inline-block;
  font-family: "Benton Sans", Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.side-image .images-wrapper {
  background: url("../img/pdf_placeholder.jpg");
  background-color: #007A87;
  background-size: contain;
  display: block;
  min-height: 446px;
  padding: 3em;
  position: relative;
}

@media screen and (min-width: 900px) {
  .side-image .images-wrapper {
    display: table-cell;
    width: 33.3333333333%;
    width: auto;
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.side-image .side-image-content {
  display: table-cell;
  width: 100%;
  padding: 1em 1em 4em 1em;
}

@media screen and (min-width: 900px) {
  .side-image .side-image-content {
    display: table-cell;
    width: 66.6666666667%;
    width: 72%;
    padding: 4em 4em 8em 4em;
  }
}

.side-image .side-image-content h1 {
  font-size: 22px;
}

.side-image .side-image-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.side-image .side-image-content li {
  margin-bottom: 20px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 40px solid #007A87;
  position: absolute;
  right: 0;
}

/* ==============================
  Testimonial Slider
  ============================== */
.page-section,
.small-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
}

.bg-scroll {
  background-attachment: scroll !important;
}

.col-md-8 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%;
  margin-left: 17.0596086706%;
  text-align: center;
}

.col-md-8:last-child {
  margin-right: 0;
}

.testimonial {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  text-align: center;
  color: #FAFAFA;
}

.testimonial .body {
  font-size: 35px;
  line-height: 52px;
  font-weight: 300;
  margin-bottom: 30px;
}

.testimonial .author {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 18px;
  font-weight: 400;
}

.testimonial .position {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.testimonial-icon {
  margin-bottom: 7px;
  text-align: center;
  font-size: 32px;
  color: #FAFAFA;
}

.owl-carousel {
  position: relative;
}

.owl-theme .owl-controls .owl-buttons div {
  font-size: 40px;
  line-height: 1;
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-radius: 0;
  margin: -23px 0 0 0;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/* ==============================
  Navbar
  ============================== */
header.navigation {
  background-color: #003c69;
  min-height: 60px;
  width: 100%;
  z-index: 999;
}

header.navigation .button-block {
  background: transparent;
  display: inline;
  line-height: 60px;
  text-decoration: none;
  width: auto;
}

header.navigation .nav-linkk {
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  text-decoration: none;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
}

header.navigation .nav-linkk:last-child {
  background: #007A87;
}

header.navigation .navigation-wrapper {
  position: relative;
  z-index: 9999;
}

header.navigation .navigation-wrapper::after {
  clear: both;
  content: "";
  display: block;
}

header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

header.navigation .logo img {
  max-height: 60px;
  height: 42px;
  width: 82px;
}

header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  float: right;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 900px) {
  header.navigation .navigation-menu-button {
    display: none;
  }
}

header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
  color: white;
}

header.navigation nav {
  float: none;
  min-height: 60px;
  z-index: 9999999;
}

@media screen and (min-width: 900px) {
  header.navigation nav {
    float: left;
  }
}

header.navigation ul.navigation-menu {
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}

header.navigation ul.navigation-menu.show {
  display: block;
}

@media screen and (min-width: 900px) {
  header.navigation ul.navigation-menu {
    display: inline;
    margin: 0;
    padding: 0;
  }
}

header.navigation ul li.nav-link {
  background: #003c69;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 0.8em;
  text-align: right;
  width: 100%;
  z-index: 9999;
}

@media screen and (min-width: 900px) {
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
  }
}

header.navigation ul li.nav-link a {
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  header.navigation ul li.nav-link a {
    padding-right: 1em;
  }
}

header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
  color: white;
}

header.navigation .active-nav-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}

header.navigation li.more.nav-link {
  padding-right: 0;
}

@media screen and (min-width: 900px) {
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}

header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}

header.navigation li.more.nav-link a {
  margin-right: 1em;
}

header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}

header.navigation li.more.nav-link > a::after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: rgba(255, 255, 255, 0.5);
  content: "\25BE";
}

header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}

header.navigation li.more a {
  padding-right: 0.8em;
}

header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}

@media screen and (min-width: 900px) {
  header.navigation li.more > a {
    margin-right: 1em;
  }
}

header.navigation li.more > a::after {
  content: "›";
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}

header.navigation li.more:focus > .submenu,
header.navigation li.more:hover > .submenu {
  display: block;
}

@media screen and (min-width: 900px) {
  header.navigation li.more {
    padding-right: 0.8em;
    position: relative;
  }
}

header.navigation ul.submenu {
  display: none;
  padding-left: 0;
}

@media screen and (min-width: 900px) {
  header.navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}

@media screen and (min-width: 900px) {
  header.navigation ul.submenu .submenu.fly-out-right {
    left: 11.8em;
    top: 0;
  }
}

@media screen and (min-width: 900px) {
  header.navigation ul.submenu .submenu.fly-out-left {
    left: -11.8em;
    top: 0;
  }
}

@media screen and (min-width: 900px) {
  header.navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0;
  }
}

header.navigation ul.submenu li {
  display: block;
  padding-right: 0;
}

@media screen and (min-width: 900px) {
  header.navigation ul.submenu li {
    line-height: 46.1538461538px;
  }
  header.navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  header.navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.7em;
  }
}

header.navigation ul.submenu li a {
  background-color: #00335a;
  display: inline-block;
  text-align: right;
  width: 100%;
}

@media screen and (min-width: 900px) {
  header.navigation ul.submenu li a {
    background-color: #003c69;
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}

header.navigation .navigation-tools {
  background: #505050;
  clear: both;
  display: block;
  height: 60px;
}

@media screen and (min-width: 900px) {
  header.navigation .navigation-tools {
    background: transparent;
    clear: none;
    float: right;
  }
}

header.navigation .search-bar {
  float: left;
  padding: 5px 0.85em 5px 0.6em;
  width: 60%;
}

header.navigation .search-bar form {
  position: relative;
}

header.navigation .search-bar form input[type=search] {
  background: #FFFFFF;
  border: #FFFFFF;
  border-radius: 6px;
  box-sizing: border-box;
  color: #4A4A4A;
  font-size: 0.9em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.8em;
  width: 100%;
  height: 50px;
}

header.navigation .search-bar form input[type=search]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #007A87;
}

header.navigation .search-bar form input[type=search]::-moz-placeholder {
  /* Firefox 19+ */
  color: #007A87;
}

header.navigation .search-bar form input[type=search]:-ms-input-placeholder {
  /* IE 10+ */
  color: #007A87;
}

header.navigation .search-bar form input[type=search]:-moz-placeholder {
  /* Firefox 18- */
  color: #007A87;
}

@media screen and (min-width: 900px) {
  header.navigation .search-bar form input[type=search] {
    width: 100%;
  }
}

header.navigation .search-bar form button[type=submit] {
  background: #FFFFFF;
  border: 0;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 9px;
  position: absolute;
  right: 0.3em;
  top: 0.3em;
}

header.navigation .search-bar form button[type=submit] i {
  color: #007A87;
  height: 12px;
  opacity: 0.7;
  padding: 1px;
}

@media screen and (min-width: 900px) {
  header.navigation .search-bar {
    display: inline-block;
    position: relative;
    width: 16em;
  }
  header.navigation .search-bar input {
    box-sizing: border-box;
    display: block;
  }
}

body {
  margin: 0 0 3em;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5em;
  padding-left: 1.5em;
  max-width: 500px;
}

.welcome-message {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #f2f2f2;
  margin-bottom: 1.5em;
  text-align: center;
}

.zero {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.zero::after {
  clear: both;
  content: "";
  display: block;
}

.alpha {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}

.alpha:last-child {
  margin-right: 0;
}

.beta {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}

.beta:last-child {
  margin-right: 0;
}

.zeta {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}

.zeta:last-child {
  margin-right: 0;
}

.col-md-7 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
}

.col-md-7:last-child {
  margin-right: 0;
}

.col-md-7 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%;
}

.col-md-7:last-child {
  margin-right: 0;
}

.col-md-5 {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}

.col-md-5:last-child {
  margin-right: 0;
}

.grid-items-lines {
  position: relative;
}

.grid-items-lines::after {
  clear: both;
  content: "";
  display: block;
}

.grid-items-lines .grid-item {
  background: #fff;
  border-bottom: 1px solid rgba(74, 74, 74, 0.2);
  border-right: 1px solid rgba(74, 74, 74, 0.2);
  cursor: pointer;
  float: left;
  height: 14em;
  outline: none;
  overflow: hidden;
  padding: 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

@media screen and (min-width: 900px) {
  .grid-items-lines .grid-item {
    width: 33.3333333333%;
  }
}

.grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
  background: rgba(74, 74, 74, 0.05);
}

.grid-items-lines .grid-item img {
  display: block;
  height: 2.5em;
  margin-bottom: 1.2em;
  opacity: 0.2;
}

.grid-items-lines .grid-item h1 {
  color: #4A4A4A;
  font-size: 16px;
  margin-bottom: 18px;
  color: #007A87;
  font-weight: 700;
}

.grid-items-lines .grid-item p.author {
  color: #888888;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .grid-items-lines .grid-item p.author {
    max-width: 70%;
  }
}

.grid-items-lines .grid-item p {
  color: #4A4A4A;
  font-size: 15px;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .grid-items-lines .grid-item p {
    max-width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .grid-items-lines .grid-item-big {
    width: 66.6666666667%;
  }
}

@media screen and (min-width: 600px) {
  .grid-items-lines .grid-item-big p {
    max-width: 60%;
  }
}

.grid-items-lines .bottom-cover {
  background: #fff;
  bottom: 0;
  height: 3px;
  position: absolute;
  width: 100%;
}

.grid-items-lines .right-cover {
  background: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  width: 4px;
}

@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-thin.otf");
  src: url("../fonts/benton-thin.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

/* LIGHT */
@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-light.otf");
  src: url("../fonts/benton-light.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* LIGHT  ITALIC */
@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-light-it.otf");
  src: url("../fonts/benton-light-it.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-light-it.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

/* REGULAR */
@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-book.otf");
  src: url("../fonts/benton-book.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* REGULAR ITALIC */
@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-book-it.otf");
  src: url("../fonts/benton-book-it.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-book-it.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

/* MEDIUM */
@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-med.otf");
  src: url("../fonts/benton-med.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-med.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* BOLD */
@font-face {
  font-family: 'Benton Sans';
  src: url("../fonts/benton-bold.otf");
  src: url("../fonts/benton-bold.otf?#iefix") format("embedded-opentype"), url("../fonts/benton-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
