// Bitters 1.4.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

@import "buttons";
@import "forms";
@import "layout";
@import "lists";
@import "media";
@import "tables";
@import "typography";

@import "../elements/sliders";
@import "../elements/nav";
@import "../elements/navbar";
@import "../elements/footer";




body {
  margin: 0 0 ($base-spacing * 2);
}

.container {
  @include outer-container;
}

.small-section {
    padding: 70px 0;
   background-color: $snow;
}


.welcome-message {
  @include padding($base-spacing null);
  background-color: #f2f2f2;
  margin-bottom: $base-spacing;
  text-align: center;
}



.wrapper {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 500px;
}



.zero {
  @include outer-container;
  margin-bottom: 40px;
}

.alpha {
  @include span-columns(4);
  // border: 1px solid red;
}

.beta {
  @include span-columns(4);
  // border: 1px solid blue;
}

.zeta {
  @include span-columns(4);
  // border: 1px solid green;
}

.col-md-7 {
  @include span-columns(12);
}

.col-md-7 {
  @include span-columns(8);
}

.col-md-8 {
  @include span-columns(8);
}

.col-md-4 {
  @include span-columns(4);
}

.col-md-4-offset {
  @include span-columns(4);
  @include shift(2);
}

.col-md-5 {
  @include span-columns(4);
}

.col-md-6 {
  @include span-columns(6);
}


.row {
  @include row;
}

.col-md-3 {
  @include span-columns(3);
}


.col-md-2 {
  @include span-columns(2);
}

.col-md-2 {
  @include span-columns(2);
}

.col-md-2-omega {
  @include span-columns(2);
  @include omega();
}

.col-md-push-1 {
  @include shift(1);
}

.col-md-12 {
  @include span-columns(12);
}







.col-button-3 {
  @include media($large-screen) {
    @include span-columns(3);
    @include omega(4n);
  }

  @include media(min-width $medium-screen max-width $large-screen) {
    @include span-columns(6);
    @include omega(2n);
  }
}




.card-colors {
  border: $base-border;
  margin-bottom: 40px;
  box-shadow: 0 2px 4px #e6e6e6;

  @include media($large-screen) {
    @include span-columns(3);
    @include omega(4n);
  }

  @include media(min-width $medium-screen max-width $large-screen) {
    @include span-columns(6);
    @include omega(2n);
  }
  
  .color-box {
    height: 175px;
    overflow: hidden;
    max-width: 100%;
  }

  .color-info {
    @extend .job-item;
    border: 0;
    .headline-standard {
      color: #4A4A4A;
      text-transform: uppercase;
    }
    p {
      @extend .job-location;
      margin-bottom: 5px;
    }
  }
}


.mega-menu-hide {
  display: none;
}


.mega-menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  background: #EAEEEF;
  border: 1px solid #DDDDDD;
  border-top: 0;
  z-index: 999000;
  padding: 40px 0;

  .col-sm-3 {
    min-height: 400px;
    border-right: 2px solid #D9D9D9;
    padding-right: 2.3576520234%;
    &:last-child {
      border-right: transparent;
    }
}

.dropdown-list {
  padding-top: 25px;
}

.mega-menu-link-lg  {
  color: #003C69;
  font-size: 16px;
  line-height: 1;
  font-weight: $font-weight--medium;
  > a {
    color: #003C69 !important;
  }
}

.mega-menu-headline-sm {
  color: #4A4A4A;
  font-weight: $font-weight--medium;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.mega-menu-link-sm a {
  color: #4A4A4A;
  font-weight: $font-weight--regular;
  font-size: 14px;
  line-height: 30px;
}

li.divider {
    height: 2px;
    margin: 25px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}


}


.mega-menu-on {
  background: #EAEEEF;
  display: block;
}





.dropdown-list {
  padding-top: 25px;
}

.mega-menu-link-lg  {
  color: #003C69;
  font-size: 16px;
  line-height: 1;
  font-weight: $font-weight--medium;
  > a {
    color: #003C69 !important;
  }
}

.mega-menu-headline-sm {
  color: #4A4A4A;
  font-weight: $font-weight--medium;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.mega-menu-link-sm a {
  color: #4A4A4A;
  font-weight: $font-weight--regular;
  font-size: 14px;
  line-height: 30px;
}

li.divider {
    height: 2px;
    margin: 25px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}










.dropdown-zenu {

  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #EAEEEF;
  border-color: rgba(0, 0, 0, 0.14902);
  border-image: initial;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;

  float: left;
  font-size: 14px;
  left: 0px;
  list-style: none;
  margin: 2px 0px 0px;
  min-width: 160px;
  padding: 5px 0px;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 100%;
  z-index: 1000;
}




.roww {
  @include row();
}


.col-sm-3 {
  @include span-columns(3);
}

