// Bitters 1.4.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

@import "buttons";
@import "forms";
@import "layout";
@import "lists";
@import "media";
@import "tables";
@import "typography";

@import "../elements/sliders";
@import "../elements/nav";
@import "../elements/navbar";
@import "../elements/footer";
@import "../elements/template";



body {
  margin: 0 0 ($base-spacing * 2);
}


.page-section,
.small-section{
  width: 100%;
  display: block; 
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 40px 0;
}

.container {
  @include outer-container;
}

.small-section {
  @include padding(70px null);
  @include background($snow);
}

.wrapper {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 500px;
}



.row {
  @include row;
}

.col-md-7 {
  @include span-columns(24);
}

.col-md-12 {
  @include span-columns(24);
}


.col-md-7 {
  @include span-columns(16);
}

.col-md-8 {
  @include span-columns(16);
}


.col-md-6 {
  @include span-columns(12);
}

.alpha {
  @include span-columns(8);
  // border: 1px solid red;
}

.beta {
  @include span-columns(8);
  // border: 1px solid blue;
}

.zeta {
  @include span-columns(8);
  // border: 1px solid green;
}

.col-md-4 {
  @include span-columns(8);
}

.col-md-4-offset {
  @include span-columns(8);
  @include shift(2);
}

.col-md-5 {
  @include span-columns(8);
}




.col-md-3 {
  @include span-columns(6);
}

.col-sm-3 {
  @include span-columns(6);
}

.col-md-2 {
  @include span-columns(4);
}

.col-md-2-omega {
  @include span-columns(4);
  @include omega();
}

.col-md-push-1 {
  @include shift(2);
}












@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $grid-item-background: desaturate($action-color, 30%);
  // $grid-item-colors:
  //   desaturate($action-color, 30%),
  //   #3581A5,
  //   #5FBEBE,
  //   #98C79A,
  //   #A7A891,
  //   #BDCC97,
  //   #979EA0;
  $grid-item-colors:
    $color-secondary,
    $color-primary,
    $color-secondary,
    $color-primary,
    $color-secondary,
    $color-primary,
    $color-secondary,
    $color-primary;

  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  // $grid-item-height: 14em;
  $grid-item-height: 16em;
  margin-top: $grid-item-border-size;
  @include clearfix;

  .grid-item {
    background: $grid-item-background;

    border-bottom: $grid-item-border-size solid $white;
    border-left: ($grid-item-border-size / 2) solid $white;
    border-right: ($grid-item-border-size / 2) solid $white;
    border-top: 0;

    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @for $i from 1 through length($grid-item-colors) { // assign colors from $grid-item-colors list
      &:nth-child(#{$i}) {
        $background-from-list: nth($grid-item-colors, $i);
        background-color: $background-from-list;
        box-shadow: inset 0 0 1px 2px darken($background-from-list, 10%);

        &:focus,
        &:hover {
          background-color: darken($background-from-list, 10%);
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
    }

    .headline-main {
      color: $white;
      margin: auto;
    }

    .text-block-sm_body {
      color: transparentize($white, 0.3);
      margin: auto;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }


  }



  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }

    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  .grid-item-image {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
    background-color: $grid-item-background;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
























@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-columns: 6;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;

  .grid-item {
    background: $grid-item-background;
    border-bottom: $base-border;
    border-right: $base-border;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    outline: none;
    overflow: hidden;
    padding: 2em;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.95);
    }
  }

  .grid-item img {
      display: block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: 0.2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      margin-bottom: 0.4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, 0.4);
      line-height: 1.5em;

      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0;
    width: 4px;
  }
}















.megamenu {
  @include position(absolute, 125px null null 0);
  @include fill-parent;
  @include outer-container;
  @include pad(40px default);
  display: none;
  text-align: left;
  background: #EAEEEF;
  border: 1px solid #DDDDDD;
  border-top: 0;
  z-index: 999000;


  @include media ($large-screen) {
    top: 120px;
  }

  @include media ($nav-break) {
    top: 60px;
  }

  .mega-menu-column {
    @include fill-parent;
    @include media($large-screen) {
      @include span-columns(6);
      &:last-child {
        border-right: transparent;
      }
    }

    @include media ($large-screen) {
      @include span-columns(6);
    }

    @include media ($nav-break) {
      @include span-columns(6);
    }

  }

  .mega-menu-column-lg {
    @include span-columns(12);
  }


  .mega-menu-link-lg {
    line-height: 1;
    font-weight: $font-weight--medium;
    > a {
      color: $indigo !important;
    }
  }

  .mega-menu-headline-sm {
    color: $base-font-color;
    font-weight: $font-weight--medium;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 8px;
  }


  .mega-menu-link-sm {
    line-height: 30px;
    > a {
      color: $base-font-color;
      font-weight: $font-weight--regular;
      font-size: 14px;
      &:hover {
        color: $teal;
      }
    }
  }

  li.divider {
    @include size(auto 2px);
    @include margin(25px 0);
    overflow: hidden;
    background-color: #e5e5e5;
  }
}





  @media screen and (min-width: 900px)  {
    .nav-accordion {
      display: none;
    }
  }


.nav-accordion {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 24px;


  .nav-accordion-trigger {
    display: inline-block;
    // position: relative;
    // &:before {
    //   color: $white;
    //   font: normal normal normal 14px/1 FontAwesome;
    //   content: "\f067";
    //   position: absolute;
    //   top: 3px;
    //   right: 0;
    // }
  }

  ul.submenu {
    display: none;
    margin-left: 24px;
    color: $white;
  }

.submenu-headline {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: $font-weight--bold;
  margin-top: 30px;
  margin-bottom: 18px;
  a {
    color: $white;
  }
}


  ul.submenu--nav {
    margin-left: 24px;
    > li {
      font-size: 15px;
      font-weight: $font-weight--regular;
      line-height: 60px;
      a {
        color: $white;
      }
    }
  }


  &.is-expanded {
    .nav-accordion-trigger {
    color: red;
    .one-one {
      &:before {
        content: "\f068";
      }
    }
    }
  }

}


.submenu--nav {
  border-left: 2px solid #007A87;
  padding-left: 24px;
}

.one-one {
  font-size: 18px;
  line-height: 1;
  color: $white;
  font-weight: $font-weight--medium;
  margin-bottom: 10px;
  padding-right: 24px;
  display: inline-block;
  position: relative;
  &:before {
    color: $white;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f067";
    position: absolute;
    top: 3px;
    right: 0;
  }
}


.one-two {
  display: block;
  font-size: 13px;
  line-height: 1;
  color: #E8E8E8;
  font-weight: $font-weight--medium;
  text-transform: uppercase;
}






