// Bitters 1.4.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "variables";

@import "buttons";
@import "forms";
@import "layout";
@import "lists";
@import "media";
@import "tables";
@import "typography";

@import "../elements/sliders";
@import "../elements/nav";
@import "../elements/navbar";
@import "../elements/footer";
@import "../elements/template";



body {
  margin: 0 0 ($base-spacing * 2);
}


.page-section,
.small-section{
  width: 100%;
  display: block; 
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 40px 0;
}

.container {
  @include outer-container;
}

.small-section {
  @include padding(70px null);
  @include background($snow);
}

.wrapper {
  @include margin(null auto);
  @include padding(null $base-spacing);
  max-width: 500px;
}



.zero {
  @include outer-container;
  margin-bottom: 40px;
}

.row {
  @include row;
}

.col-md-7 {
  @include span-columns(24);
}

.col-md-12 {
  @include span-columns(24);
}


.col-md-7 {
  @include span-columns(16);
}

.col-md-8 {
  @include span-columns(16);
}


.col-md-6 {
  @include span-columns(12);
}

.alpha {
  @include span-columns(8);
  // border: 1px solid red;
}

.beta {
  @include span-columns(8);
  // border: 1px solid blue;
}

.zeta {
  @include span-columns(8);
  // border: 1px solid green;
}

.col-md-4 {
  @include span-columns(8);
}

.col-md-4-offset {
  @include span-columns(8);
  @include shift(2);
}

.col-md-5 {
  @include span-columns(8);
}




.col-md-3 {
  @include span-columns(6);
}

.col-sm-3 {
  @include span-columns(6);
}

.col-md-2 {
  @include span-columns(4);
}

.col-md-2-omega {
  @include span-columns(4);
  @include omega();
}

.col-md-push-1 {
  @include shift(2);
}




.huro {
  @include display(flex)
  @include align-items(center);
  @include justify-content(center);
  @include padding(2em);
  background: url("../img/CHLM%20Photos/iStock_000055230672.jpg");
  background-position: center;
  background-size: cover;
  min-height: 25em;

  @include media($large-screen) {
    @include justify-content(flex-end);
  }

  .huro-content {
    // max-width: 20em;
    max-width: 70%;
    text-align: left;
  }
}










.accordion {
  @include margin(0 0 $base-spacing 0);
  @include padding(0);
  background-color: lighten($light-gray, 10%);
  border: $base-border;
  li.accordion-item {
    border-bottom: $base-border;

    &:last-child {
      border: 0;
    }

    &:focus,
    &:hover {
      // background-color: lighten(lighten($light-gray, 10%), 2%);
    }
  }

  ol > li {
       margin: 0 0 0.75em;
  }

  .submenu {
    @include padding(25px 20px);
    display: none;
    background-color: $snow;
    border-top: $base-border;
    box-shadow: inset 0 1px 1px darken($snow, 6%);;
    &:focus,
    &:hover {
      // background-color: $light-gray;
    }
  }

  .is-expanded {
    .js-accordion-trigger {
      background: $teal;
      color: $white;
    }
  }

}


.js-accordion-trigger {
  @include row(table);
  @include pad();

  .title {
    @include span-columns(11);
    @include pad();
  }
  .icon {
    @include span-columns(1);
    @include reset-display;
    @include pad();
    text-align: center;
  }
}












