html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}



/* ==============================
	Article - Content Block
	============================== */


.article {
	display: table;
	width: 100%;
	padding: 40px 0;

	.article_image,
	.article_content {
		display: table-cell;
		vertical-align: middle;
	}

	.article_image {
		padding-right: $gutter;

		img {
			// height: 3em;
			height: 219px;
			max-width: none;
		}
	}

	.article_content {
		width: 100%;
	}
}



/* ==============================
	Article Full Width - Content Block
	============================== */

.article-vert {
  display: table;
  width: 100%;

  .article-vert_image,
  .article-vert_content {
    display: table-cell;
    vertical-align: top;
  }

  .article-vert_image {
    padding-right: 1.4em;

    > img {
      display: block;
      max-width: none;
      // height: auto;
      // width: 187px;

      height: 100%;
      width: auto;
    }
  }

  .article-vert_content {
    width: 100%;
    padding-left: 1.4em;
  }
}















.flex-grid {
  $grid-gutter: 0.1rem;

  display: flex;
  flex-flow: row wrap;
  // margin: 0 - $grid-gutter;
  border-bottom: $base-border;

  .grid-box-wrap {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    // padding: 0 $grid-gutter ($grid-gutter * 2);
    border-right: $base-border;

    &:last-child {
      border-right: 0;
    }


    .author {
      @extend .job-title;
      text-transform: uppercase;
    }
  }

  .grid-box {
    background: $white;
    padding: 25px 20px; 
  }
}





