html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}



/* ==============================
	Article - Content Block
	============================== */


.article {
  @include display(table);
  @include fill-parent;
  @include padding(40px 0);

	.article_image,
	.article_content {
		@include display(table-cell);
		vertical-align: middle;
	}

	.article_image {
		@include padding(null $gutter null null);

		img {
			// height: 3em;
			height: 219px;
			max-width: none;
		}
	}

	.article_content {
		@include fill-parent;
	}
}



/* ==============================
	Article Full Width - Content Block
	============================== */

.article-vert {
  @include display(table);
  @include fill-parent;

  .article-vert_image,
  .article-vert_content {
    @include display(table-cell);
    vertical-align: top;
  }

  .article-vert_image {
    @include padding(null $gutter null null);

    > img {
      display: block;
      max-width: none;
      // height: auto;
      // width: 187px;
      height: 100%;
      width: auto;
    }
  }

  .article-vert_content {
    @include fill-parent;
    @include padding(null null null $gutter);
  }
}













