ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}


.fa-ul {
  margin-left: $base-spacing;
}


// Custom Checkbox with Solid BG

#custom-checkbox {
  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
    font-weight: $font-weight--regular;
    line-height: 36px;
  }

  input[type="checkbox"] + label:before {
    @include size(1em);
    @include padding(0);
    @include margin(null $base-spacing null null);
    @include inline-block;
    border: $base-border;
    content: "\00a0";
    vertical-align: middle;
  }

  input[type="checkbox"]:checked + label:before {
    background: $action-color;
    content: "\00a0";
    text-align: center;
  }

  input[type="checkbox"]:checked + label:after {
    // font-weight: bold;
  }
}



// Expander

.expander {
  width: 25em;

  .expander-trigger {
    display: block;

    &:before {
      @include margin(null $small-spacing null null);
      content: "\25BC";
    }
  }

  .expander-hidden {
    &:before {
      content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}



// Related Content List

.related-content-list {
  @include padding(25px 20px);
  > li {
    @include margin(null null 25px null);
  }
}

