/* ==============================
  Navbar
  ============================== */


header.navigation {
  $large-screen: 53.75em !default;
  $navigation-color: transparentize(white, 0.5);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $horizontal-bar-mode: 900px;

  background-color: $color-primary;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;
  height: 125px;
  border-bottom: 5px solid $base-border-color;


  @include media ($horizontal-bar-mode) {
    height: $navigation-height;
    border-bottom: 0;
  }

  .navigation-wrapper {
    @extend .container;
    @include clearfix;
    position: relative;
    z-index: 9999;
  }


  // Navbar Logo
  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 16px;
    text-align: center;
    margin: auto;

    @include media ($horizontal-bar-mode) {
      position: relative;
      width: auto;
      top: 0;

      float: left;
      max-height: $navigation-height;
      padding: 10px 2em 10px 1em;
    }

    img {
      height: 68px;
      width: 136px; 

      @include media ($horizontal-bar-mode) {
        max-height: $navigation-height;
        height: 42px;
        width: 82px;  
      }
    }

  }





  /* ==============================
  Mobile view
  ============================== */

  .navigation-menu-button {
    color: $navigation-color;
    position: absolute;
    left: 35px;
    top: 40px;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    // float: none;
    min-height: $navigation-height;
    padding-top: 125px;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      float: left;
      padding-top: 0;
    }
  }


  .navigation-menu {
    background-color: $color-primary;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 20px 0 0 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  .nav-link {
    background: $color-primary;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    position: relative;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;

        &.active {
          &:before {
            content: "";
            border-bottom: 15px solid #EAEEEF;
            border-right: 17px solid transparent;
            border-left: 17px solid transparent;
            position: absolute;
            top: 25px;
            left: 50%;
            width: 34px;
            margin-left: -17px;
            z-index: 10;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }

      &:focus,
      &:hover,
      &.active {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-color;
    padding-bottom: 3px;
  }





// Elements on the far right

.navigation-tools {
  background: transparent;
  clear: both;
  display: block;
  height: $navigation-height;

  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0 1em;

  @include media($horizontal-bar-mode) {
    position: relative;
    top: 0;
    width: auto;
    padding: 0;
    clear: none;
    float: right;
  }
}

  @media screen and (min-width: $horizontal-bar-mode) and (max-width: 1153px) {
    .navigation-tools {
      float: none;
      clear: both;
      height: auto;
      background-color: $color-primary;
      padding: 0 1em;
    }
  }

// Search bar

.search-container {
  height: 45px;
  width: 100%;

  @include media($horizontal-bar-mode) {
    width: 16em;
    height: $navigation-height;
    padding: 7.5px 0;
  }

  .search-bar {
    border: 4px solid #E8E8E8;
    border-radius: 4px;
    @include media($horizontal-bar-mode) {
      border: 1px solid #E8E8E8;
    }
  }
}


@media screen and (min-width: $horizontal-bar-mode) and (max-width: 1153px) {
  .search-container {
    display: block;
    width: 100%;
    clear: both;
    float: none;
  }
}






.button-block {
  display: none;

  @include media($horizontal-bar-mode) {
    float: right;
    display: inline;
    line-height: $navigation-height;
    text-decoration: none;

  }

  .button-block-btn {
    display: inline-block;
    color: rgba($white, 0.7);
    padding: 0 25px;
    text-transform: uppercase;
    &:hover,
    &:focus {
      background-color: shade($color-primary, 20%);
      color: $white;
    }
    &:last-child {
      background-color: $color-secondary;
      &:hover,
      &:focus {
        background-color: shade($color-secondary, 20%);
        color: $white;
      }
    }
  }

}





}










