/* ==============================
  Navbar
  ============================== */


header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $navigation-padding: 1em;
  $navigation-background: $color-primary;
  $navigation-color: transparentize(white, 0.5);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);

  // $navigation-search-background: lighten($navigation-background, 5);
  // $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-search-background: $white;
  $navigation-search-border: $white;

  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: 900px;

  background-color: $navigation-background;
  min-height: $navigation-height;
  width: 100%;
  z-index: 999;

  height: 125px;
  border-bottom: 5px solid $base-border-color;


  @include media ($horizontal-bar-mode) {
    height: $navigation-height;
    border-bottom: 0;
  }






// #js-navigation-menu {
//   padding-top: 20px;
//   background-color: $navigation-background;
// }

  .navigation-wrapper {
    @extend .container;
    @include clearfix;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-right: 2em;
    padding-top: 10px;
    padding-bottom: 10px; 

    img {
      max-height: $navigation-height;
      height: 42px;
      width: 82px;    
    }
  }



  .navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 16px;
    text-align: center;
    margin: auto;


    @include media ($horizontal-bar-mode) {
      position: relative;
      width: auto;
      top: 0;

      float: left;
      max-height: $navigation-height;
      padding-right: 2em;
      padding-top: 10px;
      padding-bottom: 10px; 
    }

    img {
      height: 68px;
      width: 136px; 

      @include media ($horizontal-bar-mode) {
        max-height: $navigation-height;
        height: 42px;
        width: 82px;  
      }
    }

  }


.btn-blue {
  border-radius: 5px !important;
  padding: 15px 25px !important;
  font-size: 22px !important;
  text-decoration: none !important;
  margin: 20px !important;
  color: #fff !important;
  position: relative !important;
  display: inline-block !important;
  background-color: #003865 !important;
  box-shadow: 0px 5px 0px 0px #0062b2 !important;
}
.btn-blue:active {
  transform: translate(0px, 5px) !important;
  -webkit-transform: translate(0px, 5px) !important;
  box-shadow: 0px 1px 0px 0px !important;
}
.btn-blue:hover {
  color: #fff !important;
  background-color: #0071cb !important;
}



  /* ==============================
  Mobile view
  ============================== */

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    // float: right;
    // line-height: $navigation-height;
    margin: 0;
    // padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase;

    position: absolute;
    left: 35px;
    top: 40px;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    padding-top: 125px;
    z-index: 9999999;

    @include media ($horizontal-bar-mode) {
      min-height: $navigation-height;
      float: left;
      padding-top: 0;
    }
  }


  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    padding-top: 20px;
    background-color: $navigation-background;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
  }

  // The nav items

  li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: $navigation-height;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $navigation-height;
      text-decoration: none;
      width: auto;
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }





// Elements on the far right

.navigation-tools {
  background: transparent;
  clear: both;
  display: block;
  height: 45px;

  position: absolute;
  top: 100px;
  width: 100%;
  padding: 0 1em;

  @include media($horizontal-bar-mode) {
    position: relative;
    top: 0;
    width: auto;
    padding: 0;


    background: transparent;
    clear: none;
    float: right;
  }
}

// Search bar

.search-container {
  // float: left;
  height: 45px;
  width: 100%;

  @include media($horizontal-bar-mode) {
    float: left;
    display: inline-block;
    position: relative;
    width: 16em;
    height: 60px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;

  }

  .search-bar {
    width: 100%;
    border: 4px solid #E8E8E8;
    border-radius: 4px;
    @include media($horizontal-bar-mode) {
      border: 1px solid #E8E8E8;
    }
  }
}










.button-block {
display: none;

  @include media($horizontal-bar-mode) {
    background: transparent;
    clear: none;
    float: right;

    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;

  }

  .button-block-btn {
    float: left;
    display: inline-block;
    background-color: $color-primary;
    color: rgba($white, 0.7);
    padding: 0 25px;
    text-transform: uppercase;
    &:hover,
    &:focus {
      background-color: shade($color-primary, 20%);
      color: $white;
    }
    &:last-child {
      background-color: $color-secondary;
      &:hover,
      &:focus {
        background-color: shade($color-secondary, 20%);
        color: $white;
      }
    }
  }
}





}










// Uncomment this for a sticky footer.
//
// .wrapper-for-content-outside-of-footer {
//   min-height: 100%;
//   height: auto !important;
//   height: 100%;
//   margin: 0 auto -4em;
// }

// html, body {
//  height: 100%;
// }

// .wrapper-for-content-outside-of-footer:after {
//   content: "";
//   display: block;
// }

// .footer, .wrapper-for-content-outside-of-footer:after {
//   $large-screen: 50em !default;
//   height: 12em;

//   @include media($large-screen) {
//     height: 4em;
//   }
// }

.footer-plain {
  $large-screen: 50em !default;

  .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }

    img {
      height: 2.2em;
    } 
  }

  ul {
    margin: 0;
    padding-left: 0;

    @include media($large-screen) {
      float: left;
      padding-top: 0.3em;
    }

    li {
      line-height: 1.5em;
      padding-right: 1em;

      @include media($large-screen) {
        display: inline;
        text-align: left;
      }
    }
  }
}
