/* ==============================
  Navigation
  ============================== */




// Sub Nav - Boxes

.flex-grid {
  $grid-gutter: 0.1rem;

  display: none;

  @include media($large-screen) {
    display: flex;
    flex-flow: row wrap;
    // margin: 0 - $grid-gutter;
    border-bottom: $base-border;
  }

  .grid-box-wrap {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
    // padding: 0 $grid-gutter ($grid-gutter * 2);
    border-right: $base-border;

    &:last-child {
      border-right: 0;
    }


    .author {
      @extend .job-title;
      text-transform: uppercase;
    }
  }

  .grid-box {
    background: $white;
    padding: 25px 20px; 
  }
}





// Breadcrumbs

.breadcrumb {
  list-style: none;

  > li {
    display: inline-block;

    + li:before {
      padding: 0 5px;
      color: $gray;
      content: "/\00a0";
    }

    a {
      color: $gray;
      &:hover,
      &:active {
        color: $teal;
      }
    }
  }

  > .active, {
        color: $teal;
  }
}



// Pagination

.pagination {
  $pagination-background: lighten($base-border-color, 10);
  $pagination-hover-background: lighten($pagination-background, 5);
  $pagination-color: $base-font-color;

  text-align: center;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: inline;
      }

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      background: $pagination-background;
      border-radius: $base-border-radius;
      border: $base-border;
      color: $gray;
      outline: none;
      padding: ($base-spacing / 4) ($gutter / 2);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:focus {
        background: $action-color;
        color: $white;
      }

      &:active,
      &.active {
        // background: $pagination-background;
        background: $gray;
        color: $white;
      }
    }
  }
}






