/* ==============================
  Testimonial Slider
  ============================== */

.fullwidth-slider {
  background-attachment: scroll !important;
}

.testimonial-wrapper {
  @include outer-container(900px);
  text-align: center;
  position: relative; 
}

.testimonial {
  @include margin(0);
  @include padding(0);
  background: none;
  border: none;
  color: $snow;
  .body {
    font-size: 35px;
    line-height: 52px;
    font-weight: $font-weight--light;
    margin-bottom: 30px;
  }
  .author {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 18px;
  }
  .position {
    line-height: 1;
  }
}

.testimonial-icon {
  @include margin(0 auto 7px auto);
  text-align: center;
  font-size: 32px;
  color: $snow;
  > img {
    max-width: 50px;
  }
}

.owl-carousel {
  position: relative;
}

.owl-theme .owl-controls .owl-buttons div {
  @include margin(-23px 0 0 0); // Half of the prev/next buttons height here in negatives to center them perfectly
  font-size: 40px;
  line-height: 1;
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-radius: 0;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
}
.owl-prev {
  left: 0;
}
.owl-next {
  right: 0;
}
